{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Добавить магазин{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center add-form-bg">
    <div class="add-form-card px-5 py-5">
        <h5 class="text-center mb-4 fw-semibold" style="font-size: 1.3rem;">Добавить магазин</h5>
        <form method="post" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="row mb-3 align-items-center">
                <label class="col-4 col-form-label text-start">Код магазина:</label>
                <div class="col-8">{{ form.store_id }}</div>
            </div>
            <div class="row mb-3 align-items-center">
                <label class="col-4 col-form-label text-start">Наименование:</label>
                <div class="col-8">{{ form.short_name }}</div>
            </div>
            <div class="row mb-3 align-items-center">
                <label class="col-4 col-form-label text-start">Округ:</label>
                <div class="col-8">{{ form.cluster }}</div>
            </div>
            <div class="row mb-3 align-items-center">
                <label class="col-4 col-form-label text-start">Регион:</label>
                <div class="col-8">{{ form.region }}</div>
            </div>
            <div class="row mb-3 align-items-center">
                <label class="col-4 col-form-label text-start">Формат склада:</label>
                <div class="col-8">{{ form.store_format }}</div>
            </div>
            <div class="row mb-4 align-items-center">
                <label class="col-4 col-form-label text-start">Дата открытия:</label>
                <div class="col-8">{{ form.begin_date }}</div>
            </div>

            {% if form.errors %}
                <div class="text-danger text-center mb-2">
                    {% if form.store_id.errors %}
                        {% for error in form.store_id.errors %}
                            {% if "уже существует" in error %}
                                Магазин с таким кодом уже существует!
                            {% else %}
                                Пожалуйста, заполните все поля!
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        Пожалуйста, заполните все поля!
                    {% endif %}
                </div>
            {% endif %}


            <div class="d-flex justify-content-center gap-2 mt-2">
                <button type="submit" class="btn btn-dark"
                style="border-radius: 16px; font-size: 1rem; padding: 7px 20px;">Сохранить</button>
                <a href="{% url 'database_home' %}?tab=stores"  class="btn btn-light"
                style="border-radius: 16px; font-size: 1rem; padding: 7px 20px;">Назад</a>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.only-letters').forEach(function(input) {
            input.addEventListener('input', function(e) {
                let value = e.target.value.replace(/[^a-zA-Zа-яА-ЯёЁ\s]/g, '');
                value = value.replace(/^([a-zA-Zа-яА-ЯёЁ])/, s => s.toUpperCase());
                e.target.value = value;
            });
        });
    });
</script>
{% endblock %}
